workspace -a remote_test
workspace remote_test

set timestampoutput true
set prompt %T S:%S J:%J
use scanner/portscan/tcp
info
set RHOSTS 208.69.33.154
set PORTS 22-25,80,110-900,1024-2600
set THREADS 1
run

db_export -f xml /tmp/msf-tests/result.xml
